
<% if @summary.ready? %>
  <h1><%= @summary.user["name"] %> (@<%= @summary.username %>)</h1>
  <img src="https://github.com/<%= @summary.username %>.png" alt="">
  <p>
    Languages: <%= @summary.languages %>
  </p>

  <h2>Most Recent Repos</h2>

  <% @summary.repos.each do |repo| %>
  <p>
    <a href="<%= repo["html_url"] %>"><%= repo["name"] %></a>
    <%= repo["language"] %> - last push on <%= repo["pushed_at"].to_date.to_s %>
  </p>
  <% end %>
<% else %>
<h1>Please wait. Your page is loading!</h1>

<script>
setInterval(function() {
  var req = new XMLHttpRequest();
  req.open("GET", window.location.href, true);

  req.onload = function() {
    if (req.status == 200) {
      window.location.reload()
    }
  }

  req.send();
}, 2000)
</script>
<% end %>
